---
import {getCollection} from "astro:content"

import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"
import Member from "../components/Member.astro"
import H1 from "../components/H1.astro"
import H2 from "../components/H2.astro"

const allMembers = await getCollection("member")
---

<Layout>
    <Main>
        <H1 text="Chase Waterfalls" />

        <p class="text-zinc-900 text-2xl mb-16 max-sm:mb-14">
            The Interaction Consortium Proposal... Ready to have your mind blown?
        </p>

        <hr class="w-full border border-teal-900 mb-16 max-sm:mb-10" />

        <H2 text="Some Svelte Components"/>

        <ul class="list-disc text-xl space-y-2 pl-12 mb-12">
            <li>
                <a href="space/space-travel/" class="text-blue-500 hover:text-blue-700">Space Travel</a>
            </li>
            <li>
                <a href="space/daily-picture/" class="text-blue-500 hover:text-blue-700">Daily Picture</a>
            </li>
        </ul>
        
        <H2 text="Let out team be your team"/>

        <div class="grid grid-cols-3 gap-x-6 gap-y-14 mb-16 mt-12 max-lg:grid-cols-1">
            {allMembers.map(member => <Member member={member} />)}
        </div>
    </Main>
</Layout>
