<footer class="mt-auto">
    <div class="flex border-t border-gray-300 py-4">
        <div class="w-1/4"></div>
        <div class="pl-40 grid grid-cols-2 gap-x-36 py-4 px-4">
            <div class="col-span-1">
                <p class="text-sm">Level 5, 48 Chippen St<br>Chippendale NSW 2008</p>
            </div>
            <div class="col-span-1 justify-self-end">
                <p class="text-sm">+61 1300 437 899<br>studio@interaction.net.au</p>
            </div>
        </div>
    </div>
</footer>
