---
import Aside from "../components/Aside.astro";
import Layout from "./Layout.astro";

---

<script src="../scripts/scrollTracker.ts"></script>

<Layout>
    <div class="flex">
        <div class="w-1/4 pl-12 pt-8 border-r border-gray-300 h-screen sticky top-0">
            <Aside />
        </div>
        <div class="prose prose-2xl pl-12 pt-8 flex-1">
            <slot />
        </div>
    </div>
</Layout>